
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Dokumenty dla pracowników</h2><br>
<span class="label label-info string_type name_field" id= "ter">1:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/wniosek-ZFŚS.pdf" target="_blank">Wniosek ZFŚS</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">2:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Klauzula-informacyjna-ZFŚS.pdf" target="_blank">Klauzula informacyjna - obsługa ZFŚS</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">3:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/WnUrlopWypoczynkowy.pdf" target="_blank">Wniosek o udzielenie urlopu wypoczynkowego</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">4:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Klauzule-informacyjna-dla-pracowników.pdf" target="_blank">Klauzula informacyjna - przetwarzanie danych osobowych</a>
</b></dd></center>

       </div>
       </div>
       </div>