
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Egzamin ósmoklasisty</h2><br>
<p>Podstawowe informacje o egzaminie ósmoklasisty:</p>
<span class="label label-info string_type name_field" id= "ter">1:</span>
<dd class="well"><center><b>
Egzamin ósmoklasisty jest przeprowadzany na podstawie wymagań określonych
w podstawie programowej kształcenia ogólnego oraz sprawdza, w jakim stopniu zdający spełnia te wymagania.
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">2:</span>
<dd class="well"><center><b>
Egzamin ósmoklasisty jest przeprowadzany w formie pisemnej.</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">3:</span>
<dd class="well"><center><b>
Egzamin ósmoklasisty obejmuje następujące przedmioty:
<br>- język polski
<br>- matematykę
<br>- język obcy nowożytny
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">4:</span>
<dd class="well"><center><b>
Do egzaminu ósmoklasisty z języka obcego nowożytnego uczeń przystępuje z tego języka obcego nowożytnego, którego uczy się w szkole w ramach obowiązkowych zajęć edukacyjnych.
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">5:</span>
<dd class="well"><center><b>
Do egzaminu ósmoklasisty w terminie dodatkowym przystępuje uczeń, który:
<ul>
    <br><li>z przyczyn losowych lub zdrowotnych nie przystąpił do egzaminu ósmoklasisty z danego przedmiotu lub przedmiotów w terminie głównym,</li>
    <br><li>przerwał lub któremu przerwano i unieważniono egzamin ósmoklasisty z danego przedmiotu lub przedmiotów w terminie głównym (również z przyczyn losowych lub zdrowotnych),</li>
    <br><li>któremu dyrektor OKE lub dyrektor CKE unieważnił egzamin z danego przedmiotu lub przedmiotów.</li>
</ul>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">6:</span>
<dd class="well"><center><b>
Do egzaminu ósmoklasisty w terminie dodatkowym zdający przystępuje w szkole, której jest uczniem.
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">7:</span>
<dd class="well"><center><b>
Egzamin ósmoklasisty z każdego przedmiotu jest przeprowadzany innego dnia.
</b></dd></center>

<h2 align="center">Terminy egzaminów:</h2><br>
<dd class="well"><center><b><a href="https://cke.gov.pl/images/_KOMUNIKATY/20201222%20E8%20EM%20Komunikat%20o%20harmonogramie%20AKTUALIZACJA.pdf" target="_blank">Harmonogram CKE</a></b></dd></center>

       </div>
       </div>
       </div>