
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">GRUPA II</h2>
<span class="label label-info string_type name_field" id= "ter">NUMER TELEFONU GRUPY:</span>
<dd class="well"><center><b>517 264 955</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">Wychowankowie w roku 2020/2021</span>
<dd class="well"><center><b><code>
Jakub K.
Wiktor W.
Marcin Ch.
Mikołaj Z.
Patryk M.
Sebastian M.
Tomasz M.
Kacper S.
Brajan W.
<br>Dominik W.
Wiktor F.
</b></dd></center></code>

<span class="label label-info string_type name_field" id= "ter">Wychowankowie w roku 2019/2020</span>
<dd class="well"><center><b><code>
Sebastian P.
Wiktor W.
Mateusz T.
Jakub D.
Tomasz M.
Marek P.
Brajan W.
Sebastian S.
<br>Mariusz Sz.
Michał K.
 </b></dd></center></code>

       </div>
       </div>
       </div>