
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">GRUPA I</h2>
<span class="label label-info string_type name_field" id= "ter">NUMER TELEFONU GRUPY:</span>
<dd class="well"><center><b>508 690 998</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">Wychowankowie w roku 2020/2021</span>
<dd class="well"><center><b><code>Marcin K.
Eryk Ł.  
Nikodem D.
Olaf D.
Kacper H.
Jakub W.
Jakub K.
Tomasz M.
Michał K.
Remigiusz U.</b></dd></center></code>

<span class="label label-info string_type name_field" id= "ter">Wychowankowie w roku 2019/2020</span>
<dd class="well"><center><b><code>
Marcin Ch.
Eryk Ł.  
Kacper S.
Dawid B.
Adrian B.
Jakub K.
Dominiki M.
Nikodem Dz.
Tomasz M.
<br>Norbert Sz.
Tomasz C.
 </b></dd></center></code>

       </div>
       </div>
       </div>