<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<dt><center>
<span class="label label-info string_type name_field" id= "ter">DYREKTOR</span>
</dt>
<dd class="well"><center><b>Ewa Krupicka</b></dd></center>

<dt><center>
<span class="label label-info string_type name_field" id= "ter">PEDAGOG</span>
</dt>
<dd class="well"><center><b>Edward Smusz</b></dd></center>


<dt><center>
<span class="label label-info string_type name_field" id= "ter">NAUCZYCIELE</span>

</dt>

    <dd class="well"><center><b>Agnieszka Baran: <i>Chemia, Kształcenie Zawodowe Teoretyczne</i></b></dd></center>

<dd class="well"><center><b>Agnieszka Janicka:<i> Język niemiecki</i></b></dd></center>

<dd class="well"><center><b>ks. Jarosław Górecki:<i> Religia</i></b></dd></center>

<dd class="well"><center><b>Edward Smusz: <i>Historia</i></b></dd></center>

<dd class="well"><center><b>Ewa Krupicka: <i>WDŻ, Informatyka</i></b></dd></center>

<dd class="well"><center><b>Iwona Janiszek:<i> Kształcenie Zawodowe Praktyczne</i></b></dd></center>

<dd class="well"><center><b>Janusz Harapin: <i>Terapia pedagogiczna, Matematyka</i></b></dd></center>

<dd class="well"><center><b>Urszula Piechowska: <i>Język Polski, Biblioteka</i></b></dd></center>

<dd class="well"><center><b>Judyta Sawicka: <i>Geografia, Kółko Krajoznawcze, Doradztwo Zawodowe</i></b></dd></center>

<dd class="well"><center><b>Marcin Smusz: <i>Język angielski, Język niemiecki</i></b></dd></center>

<dd class="well"><center><b>Rafał Wichowski:<i> W-f, Biologia, WOS, SKS</i></b></dd></center>

<dd class="well"><center><b>Zbigniew Sośniak: <i>EDB</i></b></dd></center>
</b></dd></center>
 

 
<dt><center>
<span class="label label-info string_type name_field" id= "ter">GRUPY WYCHOWAWCZE</span>
</dt>

 <br>
<center><span class="label label-info string_type name_field" id= "ter">GRUPA I</span>
</dt>


<dd class="well"><center><b>Agnieszka Baran – <i>prowadzący grupę</i></b></dd></center>

<dd class="well"><center><b>Katarzyna Cwynar</b></dd></center>

<dd class="well"><center><b>Joanna Lebda</b></dd></center>

<dd class="well"><center><b>Paulina Zielińska</b></dd></center>

<dd class="well"><center><b>Zbigniew Sośniak</b></dd></center>

<center><span class="label label-info string_type name_field" id= "ter">GRUPA II</span>
</dt>

<dd class="well"><center><b>Dariusz Segedyn – <i>prowadzący grupę</i></b></dd></center>

<dd class="well"><center><b>Ewelina Pierzak</b></dd></center>

<dd class="well"><center><b>Katarzyna Kędziora</b></dd></center>

<dd class="well"><center><b>Stanisław Marczyński</b></dd></center>
</div>
</div>
</div>
