<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
        <h1 align="center.float-left">Kalendarz imprez</h1>
<embed src="https://drive.google.com/viewerng/
viewer?embedded=true&url=http://zprsmolnik.net.pl/rails_zptw/Kalendarz-imprez-2020_2021.pdf" width="720" height="970">
</div></div>