
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Organizacja wycieczek</h2><br>
<p>W celu organizacji wycieczki należy przedłożyć następujące dokumenty</p>
<span class="label label-info string_type name_field" id= "ter">1:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/wycieczka-załączniki.pdf" target="_blank">Krata wycieczki (załączniki od nr 1 do 5)</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">2:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Lista-uczestników-wycieczkiimprezy-załącznik-nr-6.pdf" target="_blank">Lista uczestników (załącznik nr 6)</a>
</b></dd></center>

       </div>
       </div>
       </div>