
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Projekt Nowa Perspektywa - Lepszy Start</h2>
<hr>

<p>Nasza placówka bierze udział w projekcie “Nowa Perspektywa – Lepszy Start”.
O samym projekcie, więcej można przeczytać na jego stronie:</p>
<center><%= link_to image_tag('/assets/npls/logo.png', width: "50%"), 'http://centrumzamek.pl/nowaperspektywa/', target: '_blank', class: 'product-image__body' %></center>
<p>W ramach zadania WSPARCIE RODZINY działa:
– codzienny 12-godzinny telefon zaufania dla rodzin uczestników projektu
– poradnictwo psychologiczne, pomoc w nawiązywaniu współpracy z podmiotami pomocowymi oraz poradnictwo prawne i rodzinne-
– codzienna 12- godzinna infolinia e-mail’ingowa dla rodzin uczestników projektu
– poradnictwo psychologiczne, pomoc w nawiązywaniu współpracy z podmiotami pomocowymi oraz poradnictwo prawne i rodzinne-spotkania doradczo
– psychologiczne dla rodzin uczestników projektu na terenie Ośrodka.
Dla rodzin wychowanków biorących udział w projekcie dostępne jest telefoniczne wsparcie psychologiczne:
od poniedziałku do soboty w godz. 8.00 – 20.00
pod numerami telefonów 501 602 276 oraz 501 602 241
Z konsultantami psychologami można się również skontaktować, pisząc na adres e-mail: konsultant1.9@o2.pl</p>
       </div>
       </div>
       </div>