
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Projekt CEO Młodzi Przedsiębiorczy</h2>
<hr>
<%= link_to image_tag('/assets/ceo.jpg', width: "30px") %>
<p>Nasza placówka bierze udział w projekcie organizowanym przez Centrum Edukacji Obywatelskiej ,,Oby młodzież” w tematyce ,,Młodzi Przedsiębiorczy”. Po serii spotkań z naszą panią mentorką określiliśmy cel swoich działań. Za priorytet wychowankowie uznali odnowienie siłowni. Pracując metodą projektu krok po kroku dążymy do realizacji swojego planu. Chcemy nadać naszej siłowni nowego wyglądu i funkcjonalności. Do osób które nas wspierają w działaniu trzeba oprócz przedstawicieli CEO dodać panią Dyrektor Ewę Krupicką oraz nieocenionego pana Ryszarda. O rezultatach naszych działań poinformujemy już w krótce.</p>

       </div>
       </div>
       </div>