
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Podstawowe informacje</h2><br>
<p>Wszystkich rodziców prosimy o zapoznanie się z poniższymi informacjami:</p>
<span class="label label-info string_type name_field" id= "ter">1:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/procedurze-przyjęcia.pdf" target="_blank">Procedura przyjęcia</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">2:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/ABC-rodzica.pdf" target="_blank">Podstawowe informacje przy otrzymaniu skierowania do ośrodka</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">3:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Klauzula-informacyjna-dla-rodzica.pdf" target="_blank">Klauzula o przetwarzaniu danych osobowych</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">4:</span>
<dd class="well"><center><b>
<a href="https://bip.powiatluban.pl/zptww,m,1503,statut-placowki.html?page=1" target="_blank">Statuty szkół działających w ośrodku</a>
</b></dd></center>

<h2 align="center">Numery telefonów do grup wychowawczych:</h2><br>
<span class="label label-info string_type name_field" id= "ter">GRUPA I</span>
<dd class="well"><center><b>508 690 998</b></dd></center>
<span class="label label-info string_type name_field" id= "ter">GRUPA II:</span>
<dd class="well"><center><b>517 264 955</b></dd></center>
       </div>
       </div>
       </div>