
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Wolontariat</h2><br>
<center><p>WYCHOWANKOWIE DZIAŁAJĄCY W WOLONTARIACIE 2020/2021:</p></center>
<center><%= image_tag('/assets/wolontariat.jpg', width: "100%")%></center><br><br>
<span class="label label-info string_type name_field" id= "ter">1:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Regulamin.pdf" target="_blank">Regulamin koła wolontariatu</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">2:</span>
<dd class="well"><center><b>
Opiekun koła wolontariatu: <b>Edward Smusz</b>
</b></dd></center>

       </div>
       </div>
       </div>