
<div class="container">
    <div class="well col-xs-8 col-xs-offset-2.float-left">
<h2 align="center">Kącik Pedagoga</h2><br>
<p>Podstawowe informacje pedagogiczne:</p>
<span class="label label-info string_type name_field" id= "ter">1:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Czym-zajmuje-się-pedagog.pdf" target="_blank">Czym zajmuje się pedagog</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">2:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Można-kontrolować-stres.pdf" target="_blank">Kontrola stresu</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">3:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/O-asertywności-i-nie-tylko.pdf" target="_blank">O asertywności</a>
</b></dd></center>

<span class="label label-info string_type name_field" id= "ter">4:</span>
<dd class="well"><center><b>
<a href="http://zprsmolnik.net.pl/rails_zptw/Zasady-Efektywnej-Nauki.pdf" target="_blank">Zasady efektywnej nauki</a>
</b></dd></center>

       </div>
       </div>
       </div>