$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');


.ter {
 font-size: 1em;
}
   



 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 
 

#logo {
 font-family: 'Zen Dots', cursive;
 float: left;
 font-size: 1.8em;
 color: #FFEFD5;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: bold;
}

#logo:hover {
 color: #fff;
 text-decoration: none;
}

.article-actions {
 border-top: 1px solid #eaeaea;
 padding-top: 5px;
}

.article-title {
 font-weight: bold;
 font-size: 1.5em;
}

.article-body {
 border-top: 1px solid #eaeaea;
 padding-top: 15px;
 padding-bottom: 15px;
}

.article-meta-details {
 border-top: 1px solid #eaeaea;
 margin-top: 15px;
}

.description {
 margin-top: 0;
}

.listing {
 list-style: none;
 padding-left: 0;
}

.container1 {
 width: 70%;
 padding: center;
 margin: auto;
 font-family: 'Open Sans', sans-serif;
}
.containermy-5 {
 
 width: 87%;
 margin: auto;
 font-family: "Prosto";
 font-size: 0.8em;
}

.jumbotron  {
 display: block;
 margin: auto;
 width: 80%;
 margin-bottom: 50px;
 margin-top: 50px;
 background-image: url("nature.gif");
 background-repeat: no-repeat;
 background-size: cover;
}


.fot1 {
 height: 50px;
 padding: center;
 padding-left: 75px;
 font-weight: bold;
 font-family: "Mon";
 color: red;
 ul {
    
    width:87%;
    text-align:center;
}
 li {
 float: center;
 display: inline-block;
 margin: 0 120px;
}
}


.hr {
 margin-top: 2px;
 border-width:0;
 color:black;
 border-style: inset;
 border-width: 1px;
}

.container {
 font-family: 'Montserrat', sans-serif;
 margin-left: 50px;
 margin-right: auto;
 width: 200px;
}



.button {
 border: none;
 background: none;
}

p {
 font-family: 'Open Sans', sans-serif;
 justify-content: center;
 font-size: 1.3em;
}






.custom  {
    background-color: #DEB887;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  
}

.dropdown-menu a{
  margin: 0px;
  background-color: #DEB887;
}
nav .navbar-nav li a{
  color: #00FFFF !important;
  }
  
  .to-right {
   h1 {
    font-size: 1.4em;
    color: #DC143C;
    letter-spacing: -1px;
    font-weight: bold;
   }
     h2 {
    font-size: 1.3em;
    color: #EEE8AA;
    letter-spacing: -1px;
    font-weight: bold;
    margin: auto;
    padding: center;
   }
  margin-top: 30px;
  border: 3px solid #036;
  background-color: #09C;
  color: #fff;
  width: 300px;
  padding: .5em;
  margin-left: 50px;
  margin-right: 50px;
  float: right;
  font-family: 'Coda Caption', sans-serif;
  font-size: 1.2em;
  a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
 a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
ul{
 padding: center;
 float: center;
}
li {
 padding: center;
 float: center;
}

}
