<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="containermy-5">
  <hr>
    <footer style="background-color: #ccccb3;">
          <div class="fot1" style="background-color: #FFEFD5;">
            <ul>
              <li>
                <%= link_to image_tag('/assets/powiat.png', width: "30px"), 'https://powiatluban.pl/', target: '_blank', class: 'product-image__body' %>
              </li>
              <li>
                <%= link_to image_tag('/assets/bip.png', width: "70px"), 'https://bip.powiatluban.pl/zptww,m,1479,informacje-podstawowe.html', target: '_blank', class: 'product-image__body' %>
              </li>
              <li>
                <%= link_to image_tag('/assets/facebook.svg', width: "30px"), 'https://www.facebook.com/ZPTWWLOSIEN/', target: '_blank', class: 'product-image__body' %>
              </li>
      </ul>
    </div>
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;"><b>ADRES</b></h5>
          <p style="color:#1f1f14;">
            <b>Zespół Placówek Terapeutyczno-Wychowawczych we Włosieniu
            <br><small>Włosień 104, 59-816 Platerówka
            <br>Tel.: +48 / 757241 141 | Fax: +48 / 757221 629
            <br>E-mail: sekretariat@zprsmolnik.net.pl</b></small>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;"><b>Elektroniczna Skrzynka Podawcza</b></h5>
          <p style="color:#1f1f14;">
              Adres elektronicznej skrzynki podawczej na platformie <u>ePUAP</u>
              <b><br>/ZPT-WWlosien/domyslna</b>

          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-6">
          <h5 class="mb-1" style="letter-spacing: 1px; color: #818963;"><b>Godziny urzędowania</b></h5>
          <table class="table" style="color: #4f4f4f; border-color: #666;">
            <tbody>
              <tr>
                <td><small><p style="color:#1f1f14;">Sekretariat</small></td>
                <td><small><p style="color:#1f1f14;">Dni robocze</small></td>
                <td><small><p style="color:#1f1f14;">7.00 - 15.00</small></td>
              </tr>
              <tr>
                <td><small><p style="color:#1f1f14;">Ośrodek</small></td>
                <td><small><p style="color:#1f1f14;">Całodobowo</small></td>
                <td><small><p style="color:#1f1f14;">24h/dobe</small></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: #1a0000;">
      <p style="color:white;"><b>© 2021 Copyright:
      <a class="text-dark" href="http://zprsmolnik.net.pl">ZPT-W Włosień</b></a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->