<div class="item.float-right">
<div class="to-right"><center><%= image_tag('/assets/globe.svg', width: "30px", padding: "center", color: "#000")%>     WAŻNE INFORMACJE<hr>
<a href="https://www.kuratorium.wroclaw.pl/ruszaja-szczepienia-dla-nastolatkow-rozpoczela-sie-rejestracja-mlodziezy-w-wieku-16-i-17-lat/" target="_blank">Ruszają szczepienia dla nastolatków</a>
<hr>
<a href="https://www.kuratorium.wroclaw.pl/wsparcie-uczniow-w-powrocie-do-szkol-materialy-edukacyjne/"target="_blank">Wsparcie uczniów w powrocie do szkół</a>
<hr>
<a href="https://www.gov.pl/web/koronawirus"target="_blank">Koronawirus: informacje i zalecenia</a></center>
</div>  </div>
